body{
    background:url(../fgd/img/fondo.jpg);
}

.h1u{
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
}

.h2u{
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
    margin:20px;
}

.line{
    height: 5px;
    border: 2px solid black;
    border-radius:18px;
    background: linear-gradient(to left, blue, red, yellow);
    margin:20px; /*margin es marguen y pading es la cajita*/
   
    text-align: center;
    font-size:20px;
    color: white;
}

.line::after{
             display: inline-block;
             position: relative;
             content:"YES";
             font-family: monospace;
}

p{
  color: beige;
  margin:100px;
  padding:90px;
}